DEFAULT menu.c32
PROMPT 0
MENU TITLE #### LEGACY PXE BOOT MENU ####
TIMEOUT 120

LABEL {{ menu_name }}
    MENU LABEL {{ menu_name }}
    kernel ::{{ tftp_dir }}/{{ kernel }}
    append initrd=::{{ tftp_dir }}/{{ initrd }} {{ boot_args }}